{% extends 'admin/master.html' %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
        {% include "admin/add_csrftoken_to_all_forms.js" %}
    </script>

	<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script >
 {% include "admin/preloader.min.js" %}
	{% include "admin/all-Ui.js" %}
	</script>
{% endblock %}
{% block body %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext" type="text/css" rel="stylesheet">
<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<style>
	{% include "admin/style.css" %}
</style>
	<div class="dropdown">
	  <button id="before_show" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Behavior
	  <span class="caret"></span>
		  <button id="after_show" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
	  </button>
	  <ul class="dropdown-menu">
		  {% for behavior_urn, behavior_title in behaviors %}
			<li><a href="?behavior_urn={{behavior_urn}}" onclick="getTilte('{{behavior_title}}')">{{behavior_title}}</a></li>
		  {% endfor %}
	  </ul>
	</div>


<div class="row align-items-center">
    <div class="col-8 align-self-center someBlock"></div>
</div>
	<div id="drag_div">
		<div class="col-sm-12 divloop" id="divloop0">
			<div class="main_card">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="inner_card">
							<h4>Programs <a data-toggle="tooltip" data-placement="top" title="Add New" class="" id="program_Modal" onclick="openModal(this)"><i class="glyphicon glyphicon-plus" data-id="programs" data-toggle="modal"  ></i></a></h4>
							<div class="max_content">
								<ul id="programsAppend"> </ul>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-12">
						<div class="inner_card">
							<h4>Goals <a data-toggle="tooltip" data-placement="top" title="Add New" onclick="openModal(this)" class="" id="goal_id"><i class="glyphicon glyphicon-plus" data-toggle="modal" data-id="Goals"></i></a></h4>
							<div class="max_content">
								<ul id="goalAppend"> </ul>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-12">
						<div class="inner_card">
							<h4>Conditions <a data-toggle="tooltip" data-placement="top" title="Add New" onclick="openModal(this)" class="" id="condition_id"><i class="glyphicon glyphicon-plus" data-toggle="modal" data-id="Conditions"></i></a></h4>
							<div class="max_content">
								<ul id="conditionAppend"> </ul>
							</div>
						</div>
					</div>
					<div class="col-md-1 col-sm-2 col-xs-12">
						<div class="inner_card_arrow">
							<div class="arrow"> <i class="glyphicon glyphicon-menu-right"></i> </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="inner_card">
							<h4>Domains <a data-toggle="tooltip" data-placement="top" title="Add New" class="" id="domain_id" onclick="openModal(this)"><i class="glyphicon glyphicon-plus" data-toggle="modal" data-id="domains"></i></a></h4>
							<div class="max_content">
								<ul id="domainAppend"> </ul>
							</div>
						</div>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<div class="inner_card_arrow">
							<div class="arrow"> <a class="rigth_icon edit_show" onclick="fun_edit(this)"><i class="glyphicon glyphicon-edit " data-toggle="tooltip" data-placement="top" title="Edit" id="changeIcon"></i></a> <a class="rigth_icon side_check" onclick="onSaveRule(this)"><i class="glyphicon glyphicon-saved " data-toggle="tooltip" data-placement="top" title="Save" id="changeIcon"></i></a> <a class="rigth_icon duplicate_rule" onclick="duplicateDiv(this)"><i class="glyphicon glyphicon-duplicate" data-toggle="tooltip" data-placement="top" title="Duplicate"></i></a> <a class="rigth_icon delete_rule" onclick="deleteAllRule(this)"><i class=" glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i></a> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Button trigger modal -->
		<!-- Modal -->
	<div class="modal fade" id="programs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog modal-sm" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabelPrograms">Programs</h4>
		      	</div>
			    <div class="modal-body">
					<ul class="search">
						<li><input type="text" class="form-control" id="programSearchContent" placeholder="Search..."></li>
					</ul>
			    	<div class="max_content">
						<ul id="programGetContent">
							{% for program_urn, program_title in programs %}
							<li>
								<label>
									<input type="checkbox" value="{{ program_urn }}" name="{{ program_title }}" class="enable" onclick="fun_programAppend(this,'programsAppend')">{{ program_title }}
								</label>
							</li>
							{% endfor %}
						</ul>

					</div>
				</div>
		    </div>
	  	</div>
	</div>
  <!-----Goals Modal Start-->
	<div class="modal fade" id="Goals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
					<h4 class="modal-title" id="myModalLabelGoals">Goals</h4>
				</div>
				<div class="modal-body">
					<ul class="search">
						<li><input type="text" class="form-control" id="goalSearchContent" placeholder="Search..."></li>
					</ul>
					<div class="max_content">

						<ul id="goalGetContent">
							{% for goal_urn, goal_name in goals %}
							<li>
								<label>
									<input type="checkbox" value="{{ goal_urn }}" name="{{ goal_name }}"  onclick="fun_GoalAppend(this , 'goalAppend')">{{ goal_name }}
								</label>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-----Goals Modal Start-->


  <!-----Condition Modal Start-->
  <div class="modal fade" id="Conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
				<h4 class="modal-title" id="myModalLabelConditions">Conditions</h4>
			</div>
			<div class="modal-body">
				<ul class="search">
					<li><input type="text" class="form-control" id="conditionSearchContent" placeholder="Search..."></li>
				</ul>
				<div class="max_content">

					<ul id="conditionGetContent">
						{% for condition_urn, condition_key in conditions %}
							<li>
								<label>
									<input type="checkbox" value="{{ condition_urn }}" name="{{ condition_key }}" onclick="fun_ConditionAppend(this , 'conditionAppend')"> {{condition_key}}
								</label>
							</li>

						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-----Condition Modal Start-->


<!------domains Modal Start-->
	<div class="modal fade" id="domains" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
					<h4 class="modal-title" id="myModalLabelDomains">Domains</h4>
				</div>
				<div class="modal-body">
					<ul class="search">
						<li><input type="text" class="form-control" id="domainSearchContent" placeholder="Search..."></li>
					</ul>
					<div class="max_content">
						<ul id="domainGetContent">
							{% for domain_urn, domain_title in domains %}
							<li>
								<label>
									<input type="checkbox" value="{{ domain_urn }}"  name="{{ domain_title }}"  onclick="fun_DomainAppend(this, 'domainAppend')">{{ domain_title }}
								</label>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!------domains Modal Start-->
{% endblock %}





